version: '3'

services:
  db:
    image: mongo
    ports:
      - 42069:27017
    volumes:
      - dbData:/data/db
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - PORT=3000
    ports:
      - 3000:3000
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - PORT=8000
    ports:
      - 8000:8000

volumes:
  dbData:
