
.results--main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.profile_section--div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 5% 25px 15%;
    height: 100%;
    background: #1d3557;
}

.profile_section--div h1 {
    font-size: 25px;
    font-weight: bold;
    color: #f1faee;
}

.courses--div {
    margin-top: 25px;
}


.courses--div h2 {
    font-weight: bold;
    font-size: 25px;
    color: #f1faee;
}

.courses--div ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.courses--div ul li {
    display: block;
    font-size: 14px;
    margin: 4px 6px;
    padding: 5px 8px;
    border-radius: 5px;
    font-style: italic;
    background: #f1faee;
}

/* .courses--div ul li:last-child { */
/*     margin-bottom: 0; */
/* } */

/* .courses--div ul li::before { */
/*     display: inline-block; */
/*     vertical-align: middle; */
/*     width: 14px; */
/*     height: 4px; */
/*     background-color: #000000; */
/*     margin: 0 15px; */
/*     content: ' '; */
/*     border-radius: 30%; */
/* } */

.profile_buttons--div {
    margin-top: 15px;
}

.profile_buttons--div button {
    display: block;
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background: #e63946;
    margin: 10px 0;
    font-weight: bold;
    color: #f1faee;
}

.matches--div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 25px 15% 25px 5%;
    background: #f1faee;
    height: 100%;
}

.matches--div h1 {
    font-size: 25px;
    font-weight: bold;
}
